// Import all of Bootstrap's SCSS
@import "bootstrap/scss/bootstrap";

// Import Bootstrap Icons
@import "bootstrap-icons/font/bootstrap-icons.css";

// Font family variables
$manrope-regular: "Manrope-Regular", system-ui;
$manrope-bold: "Manrope-Bold", system-ui;
$manrope-extrabold: "Manrope-ExtraBold", system-ui;

// Styles
* {
    font-family: $manrope-regular;
}

a:not(.btn, .dropdown-item, .nav-link) {
    color: $red-700;
    font-family: $manrope-bold;
    text-decoration: none;

    &:hover {
        color: $red-600;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    background-color: $gray-100;
}

h1 {
    font-family: $manrope-extrabold;
}

h2,
h3,
h4,
h5,
h6,
strong,
th,
th > span,
.btn {
    font-family: $manrope-bold !important;
}

img {
    max-width: 100% !important;
}

select,
input:is([type="radio"], [type="checkbox"]) {
    cursor: pointer;
}

:is(input, select, textarea):focus {
    box-shadow: none !important;
    border: 1px solid $red-700 !important;
}

input:is([type="radio"], [type="checkbox"]):checked {
    background-color: $red-700;
    border: none;
}

th {
    background-color: $dark !important;
    color: $white !important;
}

.btn-primary {
    background-color: $red-700;
    border: 1px solid $red-700;
    box-shadow: none !important;

    &:is(:focus, :hover) {
        background-color: $red-600 !important;
        border: 1px solid $red-600 !important;
    }
}

.btn-outline-primary {
    border: 1px solid $red-700;
    box-shadow: none !important;
    color: $red-700;

    &:is(:focus, :hover) {
        background-color: transparent !important;
        border: 1px solid $red-600 !important;
        color: $red-600 !important;
    }
}

.card {
    padding: 1rem;
}

.dropdown-item,
.nav-link {
    color: $secondary;

    &:is(:focus, :hover) {
        background-color: transparent;
        color: $red-700;
    }

    &.active {
        background-color: transparent;
        color: $red-700 !important;
        font-family: $manrope-bold;
    }
}

.fc-today-button {
    background-color: $red-700 !important;
    border: 1px solid $red-700 !important;
    color: $white !important;
}

.fc-dayGridMonth-button,
.fc-dayGridWeek-button,
.fc-dayGridDay-button,
.fc-listWeek-button {
    background-color: $white !important;
    border: 1px solid $red-700 !important;
    color: $red-700 !important;
    font-family: $manrope-bold;

    &:is(:focus, :hover, .active) {
        background-color: $red-700 !important;
        color: $white !important;
    }
}

:is(
        .fc-daygrid-day-number,
        .fc-col-header-cell-cushion,
        .fc-list-day-text
    ):hover {
    text-decoration: none !important;
}

.fc-event {
    color: $black !important;
}

.fc-day-today {
    background-color: $red-100 !important;
}

.fc-list-day-cushion {
    background-color: $dark;
}

.flatpickr-day.selected,
.pagination > .active > a {
    background-color: $red-700 !important;
    border: 1px solid $red-700 !important;
    box-shadow: none;
}

.page-link:hover {
    color: $white !important;
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

#map {
    height: 50vh;
}

#logo {
    max-width: 48px !important;
}

#profile_photo {
    max-height: 50px;
    object-position: center;
    width: 100%;
}

@font-face {
    font-family: "Manrope-Regular";
    src: url("/public/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope-Bold";
    src: url("/public/fonts/Manrope/Manrope-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope-ExtraBold";
    src: url("/public/fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
}
