// Import all of Bootstrap's SCSS
@import "bootstrap/scss/bootstrap";

// Import Bootstrap Icons
@import "bootstrap-icons/font/bootstrap-icons.css";

// Font family variables
$manrope-regular: "Manrope-Regular", system-ui;
$manrope-bold: "Manrope-Bold", system-ui;
$manrope-extrabold: "Manrope-ExtraBold", system-ui;

// Styles
a {
    color: $red-700;
    font-family: $manrope-bold;
    text-decoration: none;

    &:hover {
        color: $red-600;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth !important;
    background-color: $gray-100;
}

h1 {
    font-family: $manrope-extrabold;
}

h2,
h3,
h4,
h5,
h6,
button,
strong {
    font-family: $manrope-bold !important;
}

img {
    max-width: 100% !important;
}

p,
input,
label,
li,
textarea {
    font-family: $manrope-regular;
}

select,
input[type="checkbox"] {
    cursor: pointer;
}

input:focus,
textarea:focus {
    box-shadow: none !important;
    border: 1px solid $red-700 !important;
}

input:is([type="radio"], [type="checkbox"]):checked {
    background-color: $red-700;
    border: none;
}

.btn-primary {
    border: 1px solid $red-700;
    background-color: $red-700;
    box-shadow: none !important;

    &:is(:focus, :hover) {
        border: 1px solid $red-600 !important;
        background-color: $red-600 !important;
    }
}

.btn-outline-primary {
    border: 1px solid $red-700;
    box-shadow: none !important;
    color: $red-700;

    &:is(:focus, :hover) {
        background-color: transparent !important;
        border: 1px solid $red-600 !important;
        color: $red-600 !important;
    }
}

.card {
    padding: 1rem;
}

@font-face {
    font-family: "Manrope";
    src: url("public/fonts/Manrope/Manrope-Regular.ttf") format("truetype"),
        url("public/fonts/Manrope/Manrope-Bold.ttf") format("truetype"),
        url("public/fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
}
